<div ng-controller="TaskController">
	<div class="text-right">
		<div class="story-title">{{title}}</div>
		<div class="task-progress-status"><em>{{doneTasks.length}} / {{tasks.length}} tasks completed</em></div>
		<button class="btn btn-success" type="button" data-toggle="modal" data-target="#myModal">Add Task</button>
	</div>
	<hr/>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 stage"><task-status status="statuses.backlog" tasks="backlogTasks" class="task-backlog" title="titles.backlog"></task-status></div>
			<div class="col-md-3 stage"><task-status status="statuses.todo" tasks="todoTasks" class="task-todo" title="titles.todo"></task-status></div>
			<div class="col-md-3 stage"><task-status status="statuses.inProgress" tasks="inProgressTasks" class="task-inprogress" title="titles.inProgress"></task-status></div>
			<div class="col-md-3 stage"><task-status status="statuses.done" tasks="doneTasks" class="task-done" title="titles.done"></task-status></div>
		</div>
	</div>	
	
	<!-- Modal -->
	<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<form ng-submit="addTask(nwTask);">
			<div class="modal-body">						
				<div class="form-group">
					<label class="form-label" for="taskName">Task Name</label>
					<input ng-model="nwTask.name" type="text" id="taskName" placeholder="Task Name" class="form-control" />
				</div>
				<div class="form-group">
					<label class="form-label" for="taskName">Effort</label>
					<select ng-model="nwTask.effort" class="form-control">
						<option>1 hour</option>
						<option>2 hours</option>
						<option>3 hours</option>
						<option>4 hours</option>
						<option>5 hours</option>
						<option>6 hours</option>
						<option>7 hours</option>
						<option>8 hours</option>
					</select>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" ng-disabled="!nwTask" data-dismiss="modal" ng-click="addTask(nwTask);" class="btn" aria-hidden="true">Save</button>
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>				
		</form>
	</div>
</div> 